body {
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 10px;
}

header h1 span {
  color: #ffffff;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: start;
  width: 1200px;
  height: 539px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

p {
  text-align: center;
}

.nick {
    margin-top: 2rem;
    text-decoration: none;
}

.logo {
    margin-left: 20rem;
    margin-top: 1rem;
}

.usuarios {
    margin-left: 32rem;
}

.small-arrows {
    margin-top: 2rem;
}

.pagination li a, .pagination li span, .pagination li.disabled a, .pagination li.disabled span {
    background-color: #222222 !important;
    color: #ffffff !important;
}
